@page
@model Web.Pages.IndexModel
@{
    ViewBag.Title = "Produtos";
}


<div class="d-flex align-items-center">
    <h2>Produtos</h2>
    <div class="dropdown ml-2">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ...
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Adicionar Produto</a>
        </div>
    </div>
</div>

<table class="striped">
    <thead>
        <tr>
            <th>Código SUSEP</th>
            <th>Nome</th>
            <th>Data Início Vigência</th>
            <th>Data Fim Vigência</th>
            <th>Ativo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var produto in Model.Produtos)
        {
            <tr>
                <td>@produto.CodigoSUSEP</td>
                <td>@produto.Nome</td>
                <td>@produto.DataInicioVigencia.ToShortDateString()</td>
                <td>@produto.DataFimVigencia.ToShortDateString()</td>
                <td>@(produto.Ativo ? "Sim" : "Não")</td>
                <td><a href="@Url.Action("ListarCoberturas", "Produto", new { id = produto.Id })" class="waves-effect waves-light btn">Coberturas</a></td>
            </tr>
        }
    </tbody>
</table>